{
  "presets": [
    [
      "@babel/env",
      {
        "bugfixes": true,
        "corejs": {
          "proposals": true,
          "version": 3
        },
        "modules": "commonjs",
        "targets": {
          "node": "current"
        },
        "useBuiltIns": "usage"
      }
    ],
    [
      "@babel/react",
      {
        "development": true,
        "runtime": "automatic",
        "useBuiltIns": "usage"
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    "@loadable/babel-plugin",
    [
      "lodash",
      {
        "id": "lodash-es"
      }
    ],
    [
      "ramda",
      {
        "useES": true
      }
    ],
    [
      "@babel/transform-runtime",
      {
        "absoluteRuntime": true,
        "corejs": {
          "proposals": true,
          "version": 3
        },
        "useESModules": false
      }
    ],
    "macros"
  ]
}
