@font-face {
  font-weight: 100;
  font-family: 'DIN Text';
  font-style: normal;
  font-stretch: normal;
  src: url('./DINTextPro-ExtraThin.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 100;
  font-family: 'DIN Text';
  font-style: italic;
  font-stretch: normal;
  src: url('./DINTextPro-ExtraThinItalic.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 200;
  font-family: 'DIN Text';
  font-style: normal;
  font-stretch: normal;
  src: url('./DINTextPro-Thin.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 200;
  font-family: 'DIN Text';
  font-style: italic;
  font-stretch: normal;
  src: url('./DINTextPro-ThinItalic.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 300;
  font-family: 'DIN Text';
  font-style: normal;
  font-stretch: normal;
  src: url('./DINTextPro-Light.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 300;
  font-family: 'DIN Text';
  font-style: italic;
  font-stretch: normal;
  src: url('./DINTextPro-LightItalic.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: 'DIN Text';
  font-style: normal;
  font-stretch: normal;
  src: url('./DINTextPro-Regular.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: 'DIN Text';
  font-style: italic;
  font-stretch: normal;
  src: url('./DINTextPro-RegularItalic.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: 'DIN Text';
  font-style: normal;
  font-stretch: normal;
  src: url('./DINTextPro-Medium.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: 'DIN Text';
  font-style: italic;
  font-stretch: normal;
  src: url('./DINTextPro-MediumItalic.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: 'DIN Text';
  font-style: normal;
  font-stretch: normal;
  src: url('./DINTextPro-Bold.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: 'DIN Text';
  font-style: italic;
  font-stretch: normal;
  src: url('./DINTextPro-BoldItalic.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 800;
  font-family: 'DIN Text';
  font-style: normal;
  font-stretch: normal;
  src: url('./DINTextPro-Black.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 800;
  font-family: 'DIN Text';
  font-style: italic;
  font-stretch: normal;
  src: url('./DINTextPro-BlackItalic.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 900;
  font-family: 'DIN Text';
  font-style: normal;
  font-stretch: normal;
  src: url('./DINTextPro-ExtraBlack.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 900;
  font-family: 'DIN Text';
  font-style: italic;
  font-stretch: normal;
  src: url('./DINTextPro-ExtraBlackItalic.woff2') format('woff2');

  font-display: swap;
}
