@font-face {
  font-weight: 200;
  font-family: 'Capita';
  font-style: normal;
  src: url('./Capita-ExtraLight.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 200;
  font-family: 'Capita';
  font-style: italic;
  src: url('./Capita-ExtraLightItalic.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 300;
  font-family: 'Capita';
  font-style: normal;
  src: url('./Capita-Light.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 300;
  font-family: 'Capita';
  font-style: italic;
  src: url('./Capita-LightItalic.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: 'Capita';
  font-style: normal;
  src: url('./Capita-Regular.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: 'Capita';
  font-style: italic;
  src: url('./Capita-RegularItalic.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: 'Capita';
  font-style: normal;
  src: url('./Capita-Medium.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: 'Capita';
  font-style: italic;
  src: url('./Capita-MediumItalic.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: 'Capita';
  font-style: normal;
  src: url('./Capita-Bold.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: 'Capita';
  font-style: italic;
  src: url('./Capita-BoldItalic.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 800;
  font-family: 'Capita';
  font-style: normal;
  src: url('./Capita-ExtraBold.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 800;
  font-family: 'Capita';
  font-style: italic;
  src: url('./Capita-ExtraBoldItalic.woff2') format('woff2');

  font-display: swap;
}
