@font-face {
  font-weight: 200;
  font-family: 'Adobe Clean';
  font-style: normal;
  font-stretch: normal;
  src: url('./AdobeClean-Light.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 200;
  font-family: 'Adobe Clean';
  font-style: italic;
  font-stretch: normal;
  src: url('./AdobeClean-LightIt.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 300;
  font-family: 'Adobe Clean';
  font-style: normal;
  font-stretch: normal;
  src: url('./AdobeClean-SemiLight.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 300;
  font-family: 'Adobe Clean';
  font-style: italic;
  font-stretch: normal;
  src: url('./AdobeClean-SemiLightIt.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: 'Adobe Clean';
  font-style: normal;
  font-stretch: normal;
  src: url('./AdobeClean-Regular.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: 'Adobe Clean';
  font-style: italic;
  font-stretch: normal;
  src: url('./AdobeClean-RegularIt.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: 'Adobe Clean';
  font-style: normal;
  font-stretch: normal;
  src: url('./AdobeClean-Bold.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: 'Adobe Clean';
  font-style: italic;
  font-stretch: normal;
  src: url('./AdobeClean-BoldIt.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 800;
  font-family: 'Adobe Clean';
  font-style: normal;
  font-stretch: normal;
  src: url('./AdobeClean-ExtraBold.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 800;
  font-family: 'Adobe Clean';
  font-style: italic;
  font-stretch: normal;
  src: url('./AdobeClean-ExtraBoldIt.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 900;
  font-family: 'Adobe Clean';
  font-style: normal;
  font-stretch: normal;
  src: url('./AdobeClean-Black.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 900;
  font-family: 'Adobe Clean';
  font-style: italic;
  font-stretch: normal;
  src: url('./AdobeClean-BlackIt.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: 'Adobe Clean';
  font-style: normal;
  font-stretch: semi-condensed;
  src: url('./AdobeClean-SemiCn.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: 'Adobe Clean';
  font-style: italic;
  font-stretch: semi-condensed;
  src: url('./AdobeClean-SemiCnIt.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: 'Adobe Clean';
  font-style: normal;
  font-stretch: semi-condensed;
  src: url('./AdobeClean-BoldSemiCn.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: 'Adobe Clean';
  font-style: italic;
  font-stretch: semi-condensed;
  src: url('./AdobeClean-BoldSemiCnIt.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: 'Adobe Clean';
  font-style: normal;
  font-stretch: condensed;
  src: url('./AdobeClean-Cond.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: 'Adobe Clean';
  font-style: italic;
  font-stretch: condensed;
  src: url('./AdobeClean-CondIt.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: 'Adobe Clean';
  font-style: normal;
  font-stretch: condensed;
  src: url('./AdobeClean-BoldCond.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: 'Adobe Clean';
  font-style: italic;
  font-stretch: condensed;
  src: url('./AdobeClean-BoldCondIt.woff2') format('woff2');

  font-display: swap;
}
