@font-face {
  font-weight: 300;
  font-family: 'Miller Display';
  font-style: normal;
  src: url('./MillerDisplay-Light.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 300;
  font-family: 'Miller Display';
  font-style: italic;
  src: url('./MillerDisplay-LightItalic.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: 'Miller Display';
  font-style: normal;
  src: url('./MillerDisplay-Roman.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: 'Miller Display';
  font-style: italic;
  src: url('./MillerDisplay-RomanItalic.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: 'Miller Display';
  font-style: normal;
  src: url('./MillerDisplay-SemiBold.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: 'Miller Display';
  font-style: italic;
  src: url('./MillerDisplay-SemiBoldItalic.woff2') format('woff2');

  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: 'Miller Display';
  font-style: normal;
  src: url('./MillerDisplay-Bold.woff2') format('woff2');

  font-display: swap;
}
